
.banner{
    position: absolute;
    top: 30%;
    left: 15%;
}

.banner h1{
    font-size: 6rem;
    margin-bottom: 1rem;
    font-weight: 200;
    text-shadow: .2rem .3rem 2px rgba(0, 0, 0, .4);
}

.banner p {
    letter-spacing: .1rem;
    font-size: 2rem;
    text-shadow: .2rem .1rem rgba(0, 0, 0, .4);

}

.banner button{
    letter-spacing: .1rem;
    color: #fff;
    background: #1e130c;  
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-right: 2rem;
    padding-left: 2rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}